PORT=3000
APP_URL=http://localhost:3000
MONGO_URI=mongodb://127.0.0.1:27017/cropai
EMAIL_USER=support.cropai@gmail.com
EMAIL_PASS=your_gmail_app_password
SUPPORT_EMAIL=support.cropai@gmail.com
EMAIL_FROM=support.cropai@gmail.com
SMTP_AUTH_USER=
SMTP_AUTH_PASS=

PLANT_ID_API_URL=https://api.plant.id/v3/identification
CROP_HEALTH_API_URL=https://plant.id/api/v3/health_assessment
PLANT_ID_API_KEY=your_plant_id_api_key
KINDWISE_API_KEY=your_crop_health_api_key
